@font-face {
    font-family: "TildaSansBold";
    src: url('materials/fonts/TildaSans/TildaSans-Bold.ttf');
}

@font-face {
    font-family: "TildaSansRegular";
    src: url('materials/fonts/TildaSans/TildaSans-Regular.ttf');
}


.page-body {
    font-family: "TildaSansRegular";
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 54px;
    text-align: center;
}

p {
    font-size: 25px;
}

.navbar-container {
    width: 100%;
    height: 20%;
    border-style: solid;
    border-color: rgb(22, 199, 199);
    border-width: 0px;
}

.navbar {
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    

    border-style: solid;
    border-color: rgb(22, 199, 199);
    border-width: 0px;
}


.navbar-link {
    text-decoration: none;
    color: black;
    margin-top: 3%;
    font-size: 25px;
    padding-right: 10px;
    max-height: 25px;
    word-break: keep-all;
    font-family: "TildaSansBold";
}

.navbar-input {
    margin-top: 3%;
    outline: 0;
    border-radius: 15px;
    padding-left: 10px;
    border-width: 2px;
    border-color: #FF9235;
    border-style: solid;
    height: 35px;
}


.navbar-input:focus {
    border-radius: 15px;
    border-color: #bb681f;
    background-color:#5DD9C8;
    opacity: 33%;
}

.page-info-me {
    margin: 0;
    margin-top: 4%;
    width: 60%;
    text-align: center;
}

.page-info-can {
    margin-top: 4%;
}

.page-info-pic {
    width: 60%;
}

.page-info-about-skills {
    width: 100%;
    height: 400px;
    background-color: #5DD9C8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-info-about-me {
    width: 40%;
}

.face-container {
    margin: 0;
    margin-top: -5%;
    padding: 0;
}

.myface {
    margin: 0;
    border-radius: 15px;
    border-color: #5DD9C8;
    border-style: solid;
    border-image-outset: 0cm;
    height: 500px;
}

.page-info-skills {
    margin: 0;
    margin-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.page-info-my-stack {
    border-radius: 15px;
    border-color: #5DD9C8;
    border-style: solid;
    width: 1000px;
    height: 800px;

}

.page-info-my-stack-description {
    font-size: 30px;
}

.page-info-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.examples-container {
    width: 900px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 0;
    padding: 0;
    border-color: #f50000;

}

.project-example-1 {
    margin: 0;

    padding: 0;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border-color: #8063A6;
    border-style: solid;
    margin: 0;
    background-image: url('materials/img/site-1.png');
    background-size: contain;
}

.project-example-1:hover {
    opacity: 66%;
}

.project-example-2 {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border-color: #8063A6;
    border-style: solid;
}

.watch-more-button {
    margin: 0;
    padding: 0;
    margin-top: 3%;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #FF9235;
    background-color: none;
    text-decoration: none;
    font-family: "TildaSansBold";
    color: #FF9235;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

.watch-more-button:hover {
    opacity: 80;
    color: #5DD9C8;
    border-color: #5DD9C8;
}
